.login__in,
.moret_in{
    display: flex;
    align-items: center;
    padding: 0px 7px;
}
 .login__in>.h,.moret_in > .h{
    margin-right: 10px;
     color: #2874f0;
}
.n{
    
    font-size: 10px;
}
.s{

    font-size: 13px;
}
.kk{
    word-spacing: normal;
}
.login__in > img {
    margin-right: 10px;
}
.logint > hr,
.moret > hr{
    margin-left: -10px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 108.5%;
    height: 0.5px;
    background-color: lightgray;
    border:none;
}

.login__in:hover,
.moret_in:hover{
    background-color: rgb(245, 243, 243);
    cursor: pointer;
}